.App {
  position: absolute;
  height: 100%;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8F9FA;
  font-size: 14px;
}

.App-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000; /* Ensures the header stays above other content */
}
.Idea-prop tbody tr td{
  border-top: none !important
}
.Idea-prop tbody tr td:first-child{
  color: #585C68;
}
